<robot
  name="robocup2019">
  <link
    name="floor">
    <inertial>
      <origin
        xyz="0.115 -0.825 -0.0005"
        rpy="0 0 0" />
      <mass
        value="12000" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://worlds/meshes/floor.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 0" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://worlds/meshes/floor.STL" />
      </geometry>
    </collision>
  </link>
</robot>
